.emptyStateCard {
  position: relative;
  background: var(--surface);
  border: 0.1rem solid var(--line);
  overflow: hidden;
  box-shadow: var(--shadow-md);

  .inner {
    padding: 2rem;
    text-align: center;

    .emoji {
      font-size: 2.8rem;
    }

    .title {
      font-size: 2rem;
      margin: 0.6rem 0 0.4rem;
    }

    .desc {
      font-size: 1.2rem;
      margin: 0 auto;
      color: var(--text-dim);
      max-width: 60ch;
    }

    .children {
      margin-top: 1rem;
    }
  }
}
